@import "tailwindcss";

body, html {
    overscroll-behavior: none;
    -webkit-overflow-scrolling: auto; /* 旧版属性 */
    overflow: hidden;
    touch-action: none;            /* 阻止手势导致的滚动/缩放 */
    overscroll-behavior: contain;  /* 避免 iOS “回弹” */
    user-select: none;
    -webkit-touch-callout: none;
    /* pointer-events:none; */
    -webkit-user-select:none;
    -moz-user-select:none;
}

@theme {
  --color-decorate-border: #060706;

  --border-width-decorate: 1px;
  --height-decorate: 1px;
  --width-decorate: 1px;
  
  --font-cursive: 'CursiveFont';
}

.game-background {
    background-image: url("https://reborn-fdu-1306028870.cos.ap-shanghai.myqcloud.com/webp%2Fbackground.webp");
    background-size: 110vw auto;
    background-position: 0% 100%;
}