@import "tailwindcss";

body, html {
    overscroll-behavior: none;
    -webkit-overflow-scrolling: auto; /* 旧版属性 */
    overflow: hidden;
  }

@theme {
  --color-decorate-border: #060706;

  --border-width-decorate: 0.5px;
  --height-decorate: 0.5px;
  --width-decorate: 0.5px;
}